#tripCard {
  display: flex;
  width: max-content;
  align-content: center;
  width: auto;
  flex-direction: column;
  border: solid 1px black;
  margin-block: 2rem;
}

#infoButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}
